{% load i18n %}
<tr class="{% if request_id == current_request_id %}djdt-highlighted{% endif %}" id="historyMain_{{ request_id }}" data-request-id="{{ request_id }}">
    <td>
        {{ history_context.history_stats.time|escape }}
    </td>
    <td>
        <p>{{ history_context.history_stats.request_method|escape }}</p>
    </td>
    <td>
        <p>{{ history_context.history_stats.request_url|truncatechars:100|escape }}</p>
    </td>
    <td>
      {% if history_context.history_stats.data %}{{ history_context.history_stats.data }}{% endif %}
    </td>
    <td>
        <p>
          {% if history_context.history_stats.status_code >= 400 %}
            <span class="djdt-badge djdt-badge-error">{{ history_context.history_stats.status_code|escape }}</span>
          {% else %}
            <span class="djdt-badge djdt-badge-success">{{ history_context.history_stats.status_code|escape }}</span>
          {% endif %}
    </td>
    <td class="djdt-actions">
        <form method="get" action="{% url 'djdt:history_sidebar' %}">
            {{ history_context.form.as_div }}
            <button data-request-id="{{ request_id }}" class="switchHistory">Switch</button>
        </form>
    </td>
</tr>
